.bet-wrapper {
  .input-field {
    width: 50px;
  }
  .numbers-wrapper,
  .stars-wrapper,
  .account-wrapper {
    padding: 20px;
  }

  .submit-button-wrapper {
    padding-top: 50px;
  }

  .title-text {
    padding-bottom: 10px;
  }

}