.toolbar_wrapper {
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
  }
  .user-name-header {
    font-size: 1rem;
    padding-left: 5px;
  }
}

.header-wrapper {
  padding: 100px 0 50px;
  h2 {
    font-family: "Roboto";
    color: #023268;
  }
  .stars {
    color: #FFD700;
  }
}